rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /teachers/{teacherId} {
      allow read, write: if true;
    }
    match /progress/{progressId} {
      allow read, write: if true;
    }
    match /system_metadata/{docId} {
      allow read, write: if true;
    }
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
